body {
  background-color: yellow;
}
li {
	color: yellow;
	text-align: left;
}
h1 {
  color: black;
  text-align: left;
}

h2 {
  color: black;
  text-align: left;
}
p {
  font-family: Times new roman;
  font-size: 20px;
  color: yellow;
}


body {
  background-image: url('../image/Family pic.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}